# Dependencies
node_modules/
frontend/node_modules/

# Build & Output
dist/
frontend/dist/

# Environment variables
.env
.env.local

# Database temporary files
backend/database/*.db-wal
backend/database/*.db-shm

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
